:root {
  --main-bg-color: #eff5fe;
  --container-width: 500px;
}

body,
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--main-bg-color);
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
}

body,
.drop-zone,
.upload-container,
.sharing-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  flex-direction: row;
}
p {
  text-align: center;
  opacity: 0.8;
}
.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px #0000002e;
}
.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed purple;
  margin: 30px;
  border-radius: 10px;
}

.dragged {
  background-color: var(--main-bg-color);
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}
.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.dragged .icon-container .right {
  transform: rotate(10deg) translateX(20px) scale(0.9);
  filter: grayscale(0.5);
}
.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px) scale(0.9);
  filter: grayscale(0.5);
}

.dragged .icon-container .center {
  transform: translateY(-5px);
}

#inputFile {
  display: none;
}

.browseBtn {
  color: blue;
  cursor: pointer;
}

.progress-container {
  width: var(--container-width);
  height: 70px;
  border: 2px solid var(--main-bg-color);
  margin-bottom: 25px;
  border-radius: 10px;
  position: relative;
  display: none;
}

.progress-container .bg-progress {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 0%;
  border-radius: 2%;
  transition: width 0.25s linear;
  position: absolute;
  z-index: 1;
}

.progress-container .inner-container {
  position: absolute;
  width: -webkit-fill-available;
  z-index: 2;
  margin: 10px 15px;
}

.percent-container {
  font-size: 13px;
  margin: 5px;
  opacity: 0.8;
}

.progress-bar {
  background-color: blue;
  height: 3px;
  width: 0%;
  border-radius: 2px;
  transform: width 0.25s linear;
}

.sharing-container {
  width: var(--container-width);
  margin-bottom: 25px;
  display: none;
}
.sharing-container .inner-container {
  position: relative;
}
.sharing-container .input-container input {
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--main-bg-color);
}
.input-container {
  width: 100%;
  display: flex;
  border-radius: 6px;
  border: 2px dashed purple;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}
.input-container .copy-img {
  height: 22px;
  width: 30px;
  display: flex;
  cursor: pointer;
  padding-top: 7px;
}

.email-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 15px 40px;
}
.email-container .filed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  margin: 5px 20px;
}
.email-container .filed input {
  width: 50%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  text-align: center;
  font-size: 16px;
}

.email-container label {
  font-size: 18px;
}

.email-container button {
  border: none;
  font-size: 18px;
  padding: 8px 40px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.toast {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 60px);
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  transition: transform ease-in-out 0.2s;
}

.upload-vector {
  background: url(./undraw_upload.svg) no-repeat center;
  background-size: contain;
  height: 50vh;
  width: 50vw;
}

@media screen and (max-width: 900px) {
  :root {
    --container-width: 320px;
  }
  .upload-vector {
    display: none;
  }
  .email-container .filed {
    flex-direction: column;
    margin: 5px 5px;
    align-items: left;
  }
  .email-container form {
    padding: 15px;
  }
  .email-container .filed input {
    width: 80%;
    margin: 10px 0px;
  }
}
